*.pdf

GranjaAvicola.App.Console\obj
GranjaAvicola.App.Domain\obj
GranjaAvicola.App.Persistent\obj

.vscode

GranjaAvicola.App.Console/obj/Debug/net5.0/GranjaAvicola.App.Console.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.csproj.AssemblyReference.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.GeneratedMSBuildEditorConfig.editorconfig
GranjaAvicola.App.Persistent/obj/Debug/net5.0/GranjaAvicola.App.Persistence.assets.cache
GranjaAvicola.App.Console/obj/Debug/net5.0/GranjaAvicola.App.Console.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.csproj.AssemblyReference.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.GeneratedMSBuildEditorConfig.editorconfig
GranjaAvicola.App.Persistent/obj/Debug/net5.0/GranjaAvicola.App.Persistence.assets.cache
GranjaAvicola.App.Console/obj/Debug/net5.0/GranjaAvicola.App.Console.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.assets.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.csproj.AssemblyReference.cache
GranjaAvicola.App.Domain/obj/Debug/net5.0/GranjaAvicola.App.Domain.GeneratedMSBuildEditorConfig.editorconfig
GranjaAvicola.App.Persistent/obj/Debug/net5.0/GranjaAvicola.App.Persistence.assets.cache
