<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Farm Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @* Texto de pagina de inicio *@
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-egg-fried" viewBox="0 0 16 16">
                        <path d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        <path d="M13.997 5.17a5 5 0 0 0-8.101-4.09A5 5 0 0 0 1.28 9.342a5 5 0 0 0 8.336 5.109 3.5 3.5 0 0 0 5.201-4.065 3.001 3.001 0 0 0-.822-5.216zm-1-.034a1 1 0 0 0 .668.977 2.001 2.001 0 0 1 .547 3.478 1 1 0 0 0-.341 1.113 2.5 2.5 0 0 1-3.715 2.905 1 1 0 0 0-1.262.152 4 4 0 0 1-6.67-4.087 1 1 0 0 0-.2-1 4 4 0 0 1 3.693-6.61 1 1 0 0 0 .8-.2 4 4 0 0 1 6.48 3.273z"/>
                    </svg>
                    Farm Manager
                </a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* GALPONES *@
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle dropdown-navItem" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Galpon
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Galpon">
                                    <a class="dropdown-item" asp-area="" asp-page="/Galpon/RegistroControlGalpones">Administrar</a>
                                    <a class="dropdown-item" href="/Galpon/listadoGalpones">Galpones</a>
                                </div>
                            </div>
                        </li>
                        @* Veterinarios *@
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle dropdown-navItem" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Veterinario
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Veterinario">
                                    <a class="dropdown-item" asp-area="" asp-page="/Veterinario/RegistroVeterinario">Administrar</a>
                                    <a class="dropdown-item" href="/Veterinario/listadoVeterinario">Veterinarios</a>
                                </div>
                            </div>
                        </li>
                        
                        <li class="nav-item">
                            <div class="dropdown show">
                                <a class="btn dropdown-toggle dropdown-navItem" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Operario
                                </a>
                                <div class="dropdown-menu" aria-labelledby="Operario">
                                    <a class="dropdown-item" asp-area="" asp-page="/Operario/RegistroOperario">Registro</a>
                                    <a class="dropdown-item" href="/Operario/listadoOperario">Listado</a>
                                    <a class="dropdown-item" asp-area="" asp-page="/Operario/RegistroVariables">Registro Variables</a>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/test">P R U E B A S</a>
                        </li>
                    </ul>

                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GranjaAvicola.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
