@page
@model GranjaAvicola.App.FrontEnd.Pages.RegistroGalponModel
@{
}
<div class="text-center">
<header>
    <h1 class="display-5">Registro de Galpon</h1>
</header>
<Body>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Nombre Del galpon</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NombreGalpon" value="Nombre">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Numero de animales</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NumeroAGalpon" value="Numero De animales">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Fecha de ingreso</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NumeroAGalpon" value="Numero De animales">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Fecha de salida</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NumeroAGalpon" value="Numero De animales">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Longitud</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NumeroAGalpon" value="Numero De animales">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="text" class="col-sm-2 col-form-label">Latitud</label>
        <div class="col-sm-10">
            <input type="text" readonly class="form-control" id="NumeroAGalpon" value="Numero De animales">
        </div>
    </div>
    
</Body>
</div>