@page
@model GranjaAvicola.App.FrontEnd.Pages.RegistroVeterinarioModel
@{
    ViewData["Title"] = "Registro Veterinario";
}

<div class="text-center">
    <h1 class="display-4">Veterinario</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
