/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


body {
  background: rgba(215, 245, 244, 1) url(Resources/BackgroundPattern.png);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #f7f7f798;
}

body::-webkit-scrollbar-thumb {
  background:rgb(0, 117, 113);
}

label {
  margin: 0px;
}

hr {
  border-width: 3px;
}

table {
  font-size: 1.1rem;
}

th {
  text-align: left;
}

td {
  text-align: right;
  width: 20rem;
}

th, td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.BoxContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.Transbox {
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 0px;
  border-radius: 30px;
  padding: 50px;
  backdrop-filter: blur(5px);
}

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
  margin-bottom: 1.5em;
}


.FormInput {
  border-style: hidden;
  border-bottom: solid;
  border-width: 1px;
  height: 3em;
  width: 20em;
}

#ComboBox {
  width: fit-content;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
